<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= form_with url: root_url, class: 'form-login', method: :get do |form| %>
        <%= form.submit "login", class: 'button-field' %>
    <% end %>

</body>
</html>