<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <%= stylesheet_link_tag "teacher_meeting.css" %>
   <script src="https://'meet.jit.si'/external_api.js"></script>
   <script>
    const domain = 'meet.jit.si';
      const options = {
        roomName: 'JitsiMeetAPIExample',
        width: 700,
        height: 700,
        configOverwrite: { language: 'en' }
      };
      APImeeting = new JitsiMeetExternalAPI(domain, options);
      APImeeting.setParentNode(document.getElementById('contenitor'));
   </script>
    <title>Meeting</title>
</head>
<body> 
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <%= link_to teacher_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
      <div class="meeting-screen" id="contenitor">
      </div>
      
      
    </div>
    
</body>
</html>