<!DOCTYPE html>
<html>
<body>
  <h2>Conferma Cambio Password</h2>
  <p>Hai richiesto un cambio password. Clicca sul link sottostante per confermare:</p>
  <% if @user.type=='Teacher' %>
  <%= link_to 'Conferma cambio password', { controller: 'teacher', action: 'upgradepassword', CF: @user.CF, success: 'success'}, method: :get %>
   <% elsif @user.type=='Student' %>
  <%= link_to 'Conferma cambio password', { controller: 'student', action: 'upgradepassword', CF: @user.CF, success: 'success'}, method: :get %>
  <% elsif @user.type=='SchoolStaff' %>
  <%= link_to 'Conferma cambio password', { controller: 'family', action: 'upgradepassword', CF: @user.CF, success: 'success'}, method: :get %>
  <% elsif @user.type=='Family' %>

  <%= link_to 'Conferma Cambio Password', { controller: 'family', action: 'upgradepassword', CF: @user.CF, success: 'success'}, method: :get %>

  <% else %>
  <% end %> 
</body>
</html>
