*{
    margin:0;
    padding:0;
    background-color: white;
}
 
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#welcome-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(144, 209, 231);
    background-color: white;
    
}

.navbar{
    background-color: rgb(172, 245, 255);
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.writ{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
}

.link-profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 40px;
}

.title{
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.panel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}


.panel{
    display:flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    background-color: rgb(172, 245, 255);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    padding-bottom: 0px;
    padding-top: 0px;
}

.no-underline {
    text-decoration: none;
    color:black;

  }
.no-underline:visited{
    color:black;
}