*{
    margin:0;
    padding:0;
    background-color: white;
}
 
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}
.home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whole-panel{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    margin-top: 110px;
}

.right-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    gap: 50px;
}


.left-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    
}

.form-class{
    display:flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.label-class{
    width: 240px;
    height: 30px;
    padding-left: 4px;
    font-size: 18px;
}

.select-class{
    width: 240px;
    height: 30px;
    padding-left: 4px;
    font-size: 18px;
}

.submit-button{
    width: 130px;
    height: 40px;
    font-size: 18px;


}



.navbar{
    background-color: rgb(172, 245, 255);
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.writ{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
}

.form-profile{
    border-width: 0;
    width: 100px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
}





.flash {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .alert {
    background-color: #ff0000;
    color: #ffffff;
  }
  
  .notice {
    background-color: #00ff00;
    color: #000000;
  }
.panel-btn{
    display:flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    background-color: rgb(172, 245, 255);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
}
.no-decoration{
    text-decoration: none;
    background: none;
}