*{
    margin:0;
    padding:0;
    background-color: white;
}
 
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}
.student-home-communication{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 110px;
    background-color: white;
   
}

.whole-communication{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    gap: 70px;
}




.student-title-communication{
    background-color: rgb(172, 245, 255);
    width: 250px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.student-communication-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
    
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
.form-communication-1{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  rgb(172, 245, 255);
    gap: 10px;
    height: 220px;
}

.form-communication{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  rgb(172, 245, 255);
    gap: 10px;
}

.communication-inner-form{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    background-color:  rgb(172, 245, 255);
}

.sym{
    background-color:  rgb(172, 245, 255);
    font-size: 18px;
}
.communication-text{
    padding: 4px;
    border-radius: 4px;
}

.communication-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    gap: 20px;
}
.noteclass{
    margin-bottom: 10px;
    padding: 10px;
    background-color:  rgb(172, 245, 255);
    border-radius: 10px;
}

.communication-label{
    width: 100%;
    background-color:  rgb(172, 245, 255);
    text-align: left;
}

.communication-label-1{
    width: 100%;
    background-color:  rgb(172, 245, 255);
    text-align: left;
    margin-left: 20px;
    margin-right: 5px;
}

.communication-title-p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.communication-field{
    width: 220px;
    height: 20px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.communication-student-field{
    width: 220px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.student-communication{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap:20px;
    min-height: 200px;
    max-width: 600px;
    min-width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(172, 245, 255);
}

.student-upper-communication{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(172, 245, 255);
}

.student-number-comm{
    font-size: 18px;
    background-color: rgb(172, 245, 255);
}

.student-bottom-communication{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:500px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(172, 245, 255);
    background-color: white;
    border-radius: 5px;
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
}

.navbar{
    background-color: rgb(172, 245, 255);
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.writ{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
}

.form-note{
    border-width: 0;
    width: 280px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(172, 245, 255);
    padding-top: 0px;
    gap: 10px;
}
.profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
}
 
.flash {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .alert {
    background-color: #ff0000;
    color: #ffffff;
  }
  
  .notice {
    background-color: #00ff00;
    color: #000000;
  }