*{
    margin:0;
    padding:0;
    background-color: white;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.home{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    margin-top: 70px;
}

.upper-section{
    display: flex;
    justify-content: flex-end;
    padding-left: 40px;
}

.form-subject{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}
.label-subject{
    font-size: 18px;
}

.select-subject{
    width: 120px;
    font-size: 18px;
}

.panel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    

    width: 90%;
}

.panel{
    display:flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    background-color: rgb(172, 245, 255);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
}

.navbar{
    background-color: rgb(172, 245, 255);
    height: 70px;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
}

.writ{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
    
}

.profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
}


.flash {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: fit-content;
    flex-direction: bottom;
  }
  
  .flash.warning {
    /* font-weight: bold; */
    background-color: #ffc107;
    color: #fff;
  }
  