*{
    margin:0;
    padding:0;
    background-color: white;
}
 
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}
.home-absence{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    background-color: white;
}

.whole-absence{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    gap: 70px;
}

#select-1, #select-2, #select-3{
    width: 220px;
    height: 20px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.absence-field-s{
    width:220px !important;
    height: 20px !important;
    font-size: 18px !important;
    display:flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-absence{
    background-color: lightblue;
    width: 200px;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.absence-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 500px;
    gap: 30px;
    background-color: lightblue;
    border-radius: 10px;
    height: 400px;
    padding-top: 10px;
    padding-left: 20px;
}
.form-absence-1{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightblue;
    gap: 10px;
    height: 220px;
}

.form-absence{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: lightblue;
    gap: 10px;
}


.absence-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    gap: 20px;
}
.noteclass{
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}

.absence-label{
    width: 100%;
    background-color: lightblue;
    text-align: left;
}


.absence-title-p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.absence-field{
    width: 220px;
    height: 20px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.absence-student-field{
    width: 220px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.absence{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:20px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightblue;
}

.justification-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgb(184, 233, 249);
}

.absence-field-container{
    display:flex;
    flex-direction: column;
    gap: 2px;
    background-color: lightblue;
}

.button-submit{
    font-size: 18px;
}

.navbar{
    background-color:rgb(172, 245, 255);;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.writ{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    height: 70px;
    margin-left: 100px;
}

.form-note{
    border-width: 0;
    width: 280px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    padding-top: 0px;
    gap: 10px;
}
.profile{
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-right: 100px;
}
 
.flash {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .alert {
    background-color: #ff0000;
    color: #ffffff;
  }
  
  .notice {
    background-color: #00ff00;
    color: #000000;
  }